<p>
  <mat-toolbar color="primary" class="toolbar" id="toolbar">
    <span>Usuarios cercanos</span>
  </mat-toolbar>
</p>
<div class="global-container">
  <mat-card class="user-card">
    <mat-card-content>Alexis Ortega</mat-card-content>
  </mat-card>
  <mat-card class="user-card">
    <mat-card-content>Karen Guevara</mat-card-content>
  </mat-card>
  <mat-card class="user-card">
    <mat-card-content>Andrés Morales</mat-card-content>
  </mat-card>
  <mat-card class="user-card">
    <mat-card-content>Mario Nava</mat-card-content>
  </mat-card>
  <mat-card class="user-card">
    <mat-card-content>Julián Maldonado</mat-card-content>
  </mat-card>
  <mat-card class="user-card">
    <mat-card-content>Alexis Montejo</mat-card-content>
  </mat-card>
</div>
